<div class="mdl-grid no-pad" ng-controller="candidateReportController as cReportVm">
	<div class="mdl-cell mdl-cell--12-col" ng-if="!cReportVm.inValidID">
		<div class="mdl-grid report-header no-pad">
			<div class="mdl-cell mdl-cell--2-col">
				<i class="material-icons mdi-lg">account_box</i>
			</div>
			<div class="mdl-cell mdl-cell--10-col mdl-cell--middle uppercase">
				{{cReportVm.info.name}}
			</div>
		</div>
		<div class="mdl-grid mdl-chip-info no-pad mt-30">
			<div class="mdl-cell mdl-cell--7-col no-margin-lr">
				<div class="mb-10">
					<span class="mdl-chip mdl-chip--contact">
				    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">
				    	<i class="material-icons">account_circle</i>
				   	</span>
				    <span class="mdl-chip__text">Name</span>
					</span>
					<div class="cmdl-chip-value inline-block">
						{{cReportVm.info.name}}
			    </div>
			  </div>

		    <div class="mb-10">
					<span class="mdl-chip mdl-chip--contact">
				    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">
				    	<i class="material-icons">email</i>
				   	</span>
				    <span class="mdl-chip__text">Email</span>
					</span>
					<div class="cmdl-chip-value inline-block">
						{{cReportVm.info.email}}
			    </div>
				</div>
				<div class="mb-10">
					<span class="mdl-chip mdl-chip--contact">
				    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">
				    	<i class="material-icons">timer</i>
				   	</span>
				    <span class="mdl-chip__text">Time Taken</span>
					</span>
					<div class="cmdl-chip-value inline-block">
						<span ng-if="cReportVm.timeTaken.hours">
							{{cReportVm.timeTaken.hours}} Hour<span ng-if="cReportVm.timeTaken.hours > 1">s</span>
						</span>
						<span ng-if="cReportVm.timeTaken.minutes">
							{{cReportVm.timeTaken.minutes}} Minute<span ng-if="cReportVm.timeTaken.minutes > 1">s</span>
						</span>
						<span ng-if="cReportVm.timeTaken.seconds">
							{{cReportVm.timeTaken.seconds}} Second<span ng-if="cReportVm.timeTaken.seconds > 1">s</span>
						</span>
			    </div>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--5-col text-center">
				<svg class="spinner" width="180" height="180" viewBox="-2 -2 70 70" id="total_score">
					<circle class="path" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					<circle class="path prograss-circle" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="30" style="stroke-dashoffset: {{cReportVm.circleProgressWidth}};"></circle>
					
					<!-- <text x="50%" y="50%" text-anchor="middle">Look, I’m centered!Look, I’m centered!</text> -->
					<text x="50%" y="48%" text-anchor="middle" style="font-size: .4em">
						Total Score
					</text>
					<text x="50%" y="60%" text-anchor="middle" style="font-size: .4em">
						{{cReportVm.info.total_score}}/{{cReportVm.info.max_score}}
					</text>
				</svg> 
			</div>
		</div>
		
		<div class="mdl-grid no-pad mt-10" ng-if="cReportVm.info.feedback">
			<div class="mdl-cell mdl-cell--3-col">
				<i class="material-icons">feedback</i> FEEDBACK
			</div>
			<div class="mdl-cell mdl-cell--9-col no-margin-lr" ng-bind-html="cReportVm.info.feedback"></div>
		</div>

		<div class="mdl-grid no-pad">
			<div class="mdl-cell mdl-cell--12-col no-margin-lr">
				<h5> Question Details </h5>
				<div class="mdl-grid no-pad b-border">
					<div class="mdl-cell mdl-cell--1-col pb-10">S.NO.</div>
					<div class="mdl-cell mdl-cell--4-col">QUESTION NAME</div>
					<div class="mdl-cell mdl-cell--3-col">TIME TAKEN</div>
					<div class="mdl-cell mdl-cell--2-col">SCORE</div>
					<div class="mdl-cell mdl-cell--2-col">ANSWER</div>
				</div>
				<div class="slide-wrapper b-border" ng-repeat="question in cReportVm.info.questions | filter:searchQ">
					<div class="mdl-grid no-pad question-heading">
						<div class="mdl-cell mdl-cell--1-col">
							{{$index + 1}}
						</div>
						<div class="mdl-cell mdl-cell--4-col">{{question.name}}</div>
						<div class="mdl-cell mdl-cell--3-col">
				      	<span ng-if="question.parsedTime.hours">
									{{question.parsedTime.hours}} Hour<span ng-if="question.parsedTime.hours > 1">s</span>
								</span>
								<span ng-if="question.parsedTime.minutes">
									{{question.parsedTime.minutes}} Minute<span ng-if="question.parsedTime.minutes > 1">s</span>
								</span>
								<span ng-if="question.parsedTime.seconds">
									{{question.parsedTime.seconds}} Second<span ng-if="question.parsedTime.seconds > 1">s</span>
								</span>
								<span ng-if="!question.parsedTime">
									--
								</span>
				      </div>
						<div class="mdl-cell mdl-cell--2-col">
							{{question.score}}
				    </div>
						<div class="mdl-cell mdl-cell--2-col">
							<div ng-if="question.isSkip">
								Skipped
							</div>
							<div ng-if="!question.isSkip">
								<span ng-repeat="answer in question.answerArray">
									<span class="" ng-if="answer.is_correct">
										<!-- <i class="material-icons mdi-sm text-green">check_circle</i> -->
										<i class="material-icons mdi-sm text-green">done</i>
									</span>
									<span class="" ng-if="!answer.is_correct">
										<i class="material-icons mdi-sm text-red">clear</i>
									</span>
									<span ng-repeat="notAnswered in mainVm.getNumber(question.notAnswered)" ng-if="question.notAnswered">
										<i class="material-icons mdi-sm text-red">clear</i>
									</span>
								</span>
							</div>
						</div>
					</div>
					<div class="pv-10 ph-10 full-border-grey">
						<pre class="pt-10 ph-10 code-block" ng-bind-html="mainVm.markDownFormat(mainVm.unescapeText(question.text))"></pre>
						<div class="mdl-grid no-pad mt-10">
							<div class="mdl-cell mdl-cell--4-col mdl-cell--middle">
								<div class="ph-10 bold">OPTIONS </div>
							</div>
							<div class="mdl-cell mdl-cell--6-col mdl-cell--middle text-right">
								(Black checked mark is Candidate's answer)
							</div>
							<!-- <div class="mdl-cell mdl-cell--1-col mdl-cell--middle">
								<div class="ph-10 bold">CORRECT</div>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--middle">
								<div class="ph-10 bold">ANSWERED</div>
							</div> -->
						</div>
						<div class="mdl-grid no-pad mt-10" ng-repeat="option in question.options track by $index">
							<div class="mdl-cell mdl-cell--10-col mdl-cell--middle full-border-grey">
								<div class="ph-10 pt-10 position-relative">
									<pre ng-bind-html="mainVm.markDownFormat(mainVm.unescapeText(option.name))" class="code-block"></pre>
								</div>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--middle">
								<i class="material-icons mdi-sm text-green" ng-show="cReportVm.isCorrect(option, question.correct)">check_circle</i>
							</div>
							<div class="mdl-cell mdl-cell--1-col pl-10 mdl-cell--middle">
								<i class="material-icons mdi-sm" ng-show="cReportVm.isCorrect(option, question.answers)">check_circle</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--12-col" ng-if="cReportVm.inValidID">
		<h5 class="text-red mt-30">Not a valid user</h5>
	</div>
</div>